/Ejercicios/Tema5/src/Ejercicios/Calculadora/nbproject/private/
/Ejercicios/Tema5/src/Ejercicios/Calculadora/build/
/Ejercicios/Tema5/src/Ejercicios/JavaApplication1/nbproject/private/
/Ejercicios/Tema5/src/Ejercicios/JavaApplication1/build/
/Ejercicios/nbproject/private/
/Ejercicios/src/Tema5/Ejercicios/Calculadora/build/
/Ejercicios/src/Tema5/Ejercicios/Calculadora/nbproject/private/
/Ejercicios/src/Tema5/Ejercicios/CalculoFiguras/build/
/Ejercicios/src/Tema5/Ejercicios/CalculoFiguras/nbproject/private/
/Ejercicios/src/Tema5/Ejercicios/Coordenadas/build/
/Ejercicios/src/Tema5/Ejercicios/Coordenadas/nbproject/private/
/Ejercicios/build/
/Proyecto_2Eva/nbproject/private/
/Proyecto_2Eva/build/
/Proyecto_2Eva/dist/
/JuanJose_BlancoDiaz/nbproject/private/
